flask
flask-sqlalchemy
flask-cors
flask-limiter
flask-wtf
python-dotenv
google-auth
PyJWT
requests
APScheduler
razorpay
gunicorn
gevent
openai
psycopg2-binary
SQLAlchemy
bcrypt
cryptography
alembic